# Node.js modules
node_modules/

# Environment variables and configuration files
config.json
commands/gestione_del_bot/
commands/gestione_del_bot/riavvia.js
commands/gestione_del_bot/addcommand.js
# Logs
logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Other sensitive or unnecessary files
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
